<!DOCTYPE html>
<html>
  <head>
    <title>Authentication & Authorization</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Authentication & Authorization </h1>
  </body>
</html>
